<%= form_for @attachment, html: {multipart: true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :document %><br />
    <%= f.file_field :document %>
    <%= f.hidden_field :document_cache %>
  </p>
  <p><%= f.submit %></p>
<% end %>
